<!--estoque/src/view/contato.html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyStock - Contato</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="../img/logo_2.png" type="image/x-icon">
</head>
<body>
    <div class="container-contato">
        <form action="https://api.staticforms.xyz/submit" method="post" class="card-contato">
            <input type="hidden" name="accessKey" value="82f7cac5-5fab-4678-8951-d3cd73f521b0">
            
            <label for="inputNome">Primeiro Nome:</label>
            <input type="text" id="inputNome" name="name" required maxlength="35" minlength="2">
            
            <label for="inputEmail">Endereço de Email:</label>
            <input type="email" id="inputEmail" name="email" required maxlength="60">
            
            <label for="textAreaMensagem">Mensagem:</label>
            <textarea name="message" id="textAreaMensagem" required maxlength="200"></textarea>
        
            <div class="button-container">
                <a href="../view/inventario.html" class="btn btn-secondary text-center">Voltar ao Estoque</a>
                <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
            </div>
            
            <input type="hidden" name="redirectTo" value="http://localhost:5500/src/view/enviado.html">
        </form>
    </div>        
    
    <script src="../js/contato.js"></script>

</body>
</html>
