<!--estoque/src/view/enviado.html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyStock - Contato</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="../img/logo_2.png" type="image/x-icon">
</head>
<body>
    <div class="container-enviado">
        <h5>Sua mensagem foi enviada corretamente.</h5>
        <h5>Em breve entraremos em contato.</h5>
        <h5>Obrigado por nos procurar!</h5>
        <a href="contato.html">
        <button id="enviado-button">Contato</button> <!-- Botão de Contato -->
        </a>
    </div>
    
    <script src="../js/enviado.js"></script>
    <script src="../js/contato.js"></script>

</body>
</html>

