<!--inventario.html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyStock - Estoque</title>
    <link rel="stylesheet" href="../css/menu_styles.css">
    <link rel="shortcut icon" href="../img/logo_2.png" type="image/x-icon">
    
</head>
<body>
    <div class="container">
        <span class="title"><b><h1>EasyStock - Menu Administrativo</h1></b></span>
        
        <div class="adm-buttons"> <!-- Adicionei esse div para os botões do menu administrativo -->
            <button id="generate-report" onclick="window.location.href='../view/inventario.html'">Produtos</button><!-- Butao que leva para a pagina do inventario -->
            <button id="contact-button">Usuarios</button> <!-- Ira levar para pagina de usuario -->
            <button id="generate-report" onclick="window.location.href='../index.html'">Logout</button><!-- Botão de Logout -->
           
        </div>
        
        
        
    </div>
    
    <script src="../js/inventario.js"></script>
    <script src="../js/contato.js"></script>

</body>
</html>
